#slider1 {
   background-color: #778899;
   width: 4cm;
   background-image: linear-gradient(to right, #8888FF, #FFFF88, #8888FF);
}

#slider2 {
   background-color: #778899;
   width: 4cm;
   background-image: linear-gradient(to right, #8888FF, #FFFF88, #8888FF);
}


#slider3 {
   background-color: #778899;
   width: 4cm;
   background-image: linear-gradient(to right, #8888FF, #FFFF88, #8888FF);
}

#slider4 {
   background-color: #778899;
   width: 4cm;
   background-image: linear-gradient(to right, #8888FF, #FFFF88, #8888FF);
}

#slider5 {
   background-color: #778899;
   width: 4cm;
   background-image: linear-gradient(to right, #8888FF, #FFFF88, #8888FF);
}
